.container {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .leftSide {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}